body{
    background-color: #fafafa;
    font-family: sans-serif;
    color: #333;
    margin: 0;
}
header{
    background-color: #bd3183;
    padding: 10px;
}

h1{
    color: #d4a373;
    text-transform: uppercase;
    border-bottom: 2px solid #d4a370;
    display: inline-block;
    padding-bottom: 10px;
}

p, a{  
    font-size: 18px;
    padding: 20px;
}